@import 'fonts/fonts';
@import 'reset/reset';

html,body {
    font-family: 'Kanit', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

// $primary-color : #00FACD;
$primary-color : rgba(0, 211, 165, 0.822);

@import 'components/nav';
@import 'components/welcome';
@import 'components/about-me';
@import 'components/skills';
@import 'components/history';
@import 'components/footer';
@import 'components/responsive1045';
@import 'components/responsive700';
@import 'components/responsive562';
@import 'components/responsive480';