@import 'fonts/fonts';
@import 'reset/reset';

html {
    font-family: 'Kanit', sans-serif;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

$primary-color : #00FACD;

@import 'components/nav';
@import 'components/welcome';
@import 'components/about-me';
@import 'components/skills';
@import 'components/history';