@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  font-family: 'Kanit', sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth; }

* {
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif; }

.responsive li:not(:first-child) {
  display: inline-block; }

nav .nav-container {
  height: 172px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  margin: 0 auto; }
  nav .nav-container .nav-left .responsive li {
    display: none; }
  nav .nav-container .nav-left ul {
    display: flex; }
    nav .nav-container .nav-left ul li {
      margin: 0 1rem;
      font-size: 22px; }
      nav .nav-container .nav-left ul li a {
        text-decoration: none;
        color: black;
        transition: .3s;
        border-bottom: 2px solid transparent; }
        nav .nav-container .nav-left ul li a:hover {
          color: rgba(0, 211, 165, 0.822);
          border-bottom: 2px solid rgba(0, 211, 165, 0.822);
          padding-bottom: .25rem; }
  nav .nav-container .nav-right .img {
    width: 115px;
    height: 115px;
    border-radius: 50%;
    overflow: hidden; }
    nav .nav-container .nav-right .img img {
      width: 100%; }

.welcome {
  height: 480px;
  background-color: #f3f3f3;
  padding: 2.5rem; }
  .welcome .welcome-container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%; }
    .welcome .welcome-container .wc-left {
      margin: 0 2rem;
      width: 45%;
      height: 100%; }
      .welcome .welcome-container .wc-left .img {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 25px; }
        .welcome .welcome-container .wc-left .img img {
          width: 100%;
          border-radius: 25px; }
    .welcome .welcome-container .wc-right {
      margin: 0 2rem;
      width: 55%;
      height: 100%;
      padding: 2rem;
      height: 100%; }
      .welcome .welcome-container .wc-right h3 {
        font-size: 30px;
        color: #686868; }
      .welcome .welcome-container .wc-right h1 {
        font-size: 46px;
        line-height: 1.25; }
      .welcome .welcome-container .wc-right button {
        margin-top: 2rem;
        background-color: rgba(0, 211, 165, 0.822);
        color: #fff;
        width: 150px;
        height: 48px;
        border-radius: 50px;
        border: none;
        cursor: pointer;
        transition: .3s; }
        .welcome .welcome-container .wc-right button:hover {
          background-color: #00aa8b; }

.about-me {
  height: auto;
  padding: 2.5rem; }
  .about-me .about-me-container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    width: 100%;
    height: 100%; }
    .about-me .about-me-container .about-me-left {
      padding: 1rem; }
      .about-me .about-me-container .about-me-left h1 {
        font-size: 56px;
        color: rgba(0, 211, 165, 0.822);
        border-bottom: 2px; }
      .about-me .about-me-container .about-me-left p {
        font-size: 24px;
        line-height: 1.75; }
    .about-me .about-me-container .about-me-right .img {
      width: 550px;
      height: auto;
      overflow: hidden; }
      .about-me .about-me-container .about-me-right .img img {
        width: 100%;
        border-radius: 25px; }

.skills {
  padding: 2.5rem;
  background-color: #f3f3f3; }
  .skills h1 {
    font-size: 56px;
    text-align: center;
    margin-bottom: 2rem;
    color: rgba(0, 211, 165, 0.822); }
  .skills .skills-container {
    height: 525;
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem; }
    .skills .skills-container .skills-left {
      padding: 2rem;
      width: 100%;
      height: 100%; }
      .skills .skills-container .skills-left .skills-left-container {
        background-color: #E5E5E5;
        height: 100%;
        padding: 2rem;
        border-radius: 25px; }
        .skills .skills-container .skills-left .skills-left-container h2 {
          font-size: 2rem;
          text-align: center; }
        .skills .skills-container .skills-left .skills-left-container ul {
          line-height: 1.5; }
    .skills .skills-container .skills-right {
      padding: 2rem;
      width: 100%; }
      .skills .skills-container .skills-right .skills-right-container {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-gap: 2rem;
        flex-direction: column; }
        .skills .skills-container .skills-right .skills-right-container .sk-right-1 {
          background-color: #E5E5E5;
          padding: 1.5rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          border-radius: 25px; }
          .skills .skills-container .skills-right .skills-right-container .sk-right-1 h2 {
            font-size: 30px; }
          .skills .skills-container .skills-right .skills-right-container .sk-right-1 ul {
            line-height: 1.5; }
        .skills .skills-container .skills-right .skills-right-container .sk-right-2 {
          background-color: #E5E5E5;
          padding: 1.5rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          border-radius: 25px; }
          .skills .skills-container .skills-right .skills-right-container .sk-right-2 a.github-button {
            border-radius: 25px;
            border: 3px solid black;
            display: flex;
            align-items: center;
            text-decoration: none;
            overflow: hidden; }
            .skills .skills-container .skills-right .skills-right-container .sk-right-2 a.github-button:hover .github-info {
              background-color: #00aa8b; }
            .skills .skills-container .skills-right .skills-right-container .sk-right-2 a.github-button .img {
              width: 70px;
              height: 70px; }
              .skills .skills-container .skills-right .skills-right-container .sk-right-2 a.github-button .img img {
                height: 100%; }
            .skills .skills-container .skills-right .skills-right-container .sk-right-2 a.github-button .github-info {
              height: 70px;
              display: flex;
              align-items: center;
              background-color: rgba(0, 211, 165, 0.822);
              padding: 1rem;
              color: #fff;
              transition: .3s; }

.history {
  height: 525px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem; }
  .history .history-container {
    max-width: 1140px;
    margin: 0 auto; }
    .history .history-container h1 {
      font-size: 56px;
      color: rgba(0, 211, 165, 0.822);
      margin: 1rem auto;
      text-align: center; }
    .history .history-container .history-card-all {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 3rem;
      padding: 1rem; }
      .history .history-container .history-card-all .history-card {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        box-shadow: 5px 5px 3px grey;
        height: 350px;
        background-color: #E9E9E9;
        padding: 1rem;
        transition: .3s; }
        .history .history-container .history-card-all .history-card:hover {
          transform: translateY(-2rem); }
        .history .history-container .history-card-all .history-card .history-card-container {
          width: 100%;
          height: 100%;
          display: grid;
          grid-template-rows: 1fr 2fr 1fr; }
          .history .history-container .history-card-all .history-card .history-card-container h2.header {
            width: 100%;
            padding: 2rem;
            text-align: center;
            font-size: 22px; }
          .history .history-container .history-card-all .history-card .history-card-container .img {
            grid-row: 2 / 4;
            background-color: white;
            width: 100%;
            overflow: hidden;
            text-align: center; }
            .history .history-container .history-card-all .history-card .history-card-container .img img {
              height: 100%; }
          .history .history-container .history-card-all .history-card .history-card-container .history-info {
            padding: 2rem;
            font-size: 22px;
            text-align: center;
            width: 100%; }

footer {
  height: 150px;
  background-color: rgba(0, 211, 165, 0.822); }
  footer .footer-container {
    max-width: 1140px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 28px;
    padding: 2rem;
    color: #fff; }
    footer .footer-container .footer-right {
      line-height: 1.5; }

@media screen and (max-width: 1045px) {
  .welcome {
    padding: 1.5rem; }
    .welcome .welcome-container .wc-right {
      margin: 0 1rem;
      padding: 1rem; }
      .welcome .welcome-container .wc-right button {
        margin-top: 0 !important; }
  .about-me {
    height: auto !important; }
    .about-me .about-me-container {
      flex-direction: column; }
      .about-me .about-me-container .about-me-right {
        margin-top: 2rem; }
  .history .history-container {
    margin: 0 1rem !important; }
    .history .history-container h1 {
      margin: 1rem; }
    .history .history-container .history-card-all {
      grid-gap: 1.5rem; } }

@media screen and (max-width: 700px) {
  nav .nav-container {
    height: auto;
    flex-direction: column; }
    nav .nav-container .nav-left ul {
      padding: 1rem;
      flex-direction: column;
      line-height: 1.5; }
    nav .nav-container .nav-left li:not(:first-child) {
      display: none; }
    nav .nav-container .nav-left .responsive li {
      transition: .3s;
      display: inline-block; }
    nav .nav-container .nav-right {
      margin: 1rem 0; }
  .welcome {
    height: auto; }
    .welcome .welcome-container {
      flex-direction: column; }
      .welcome .welcome-container .wc-left {
        width: auto; }
        .welcome .welcome-container .wc-left .img {
          text-align: center; }
          .welcome .welcome-container .wc-left .img img {
            width: 75%; }
      .welcome .welcome-container .wc-right {
        text-align: center;
        width: 100%; }
        .welcome .welcome-container .wc-right h3 {
          font-size: 22px; }
        .welcome .welcome-container .wc-right h3:nth-child(1) {
          margin-top: 2rem; }
        .welcome .welcome-container .wc-right h1 {
          font-size: 42px; }
  .skills .skills-container {
    grid-template-columns: 1fr; }
    .skills .skills-container .skills-left .skill-left-container {
      border-radius: 1.5rem; }
  .history {
    height: auto; }
    .history .history-container {
      padding: 2rem; }
      .history .history-container .history-card-all {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr; }
  footer .footer-container .footer-right ul {
    font-size: 22px; } }

@media screen and (max-width: 540px) {
  .skills h1 {
    font-size: 2.65rem; }
  .skills .skills-container .skills-left .skills-left-container h2 {
    font-size: 1.75rem; }
  .skills .skills-container .skills-left .skills-left-container ul li {
    font-size: 1.25rem; }
  .skills .skills-container .skills-right .skills-right-container h2 {
    font-size: 1.75rem;
    text-align: center; }
  .skills .skills-container .skills-right .skills-right-container ul li {
    font-size: 1.25rem; }
  .welcome .welcome-container .wc-right {
    padding: 0; }
    .welcome .welcome-container .wc-right h3 {
      font-size: 1rem; }
    .welcome .welcome-container .wc-right h1 {
      font-size: 2rem; }
  .about-me {
    padding: .5rem; }
    .about-me .about-me-container .about-me-left h1 {
      font-size: 2.65rem; }
    .about-me .about-me-container .about-me-left p {
      font-size: 1rem; }
    .about-me .about-me-container .about-me-right .img {
      height: auto;
      width: 100%; }
  .history .history-container h1 {
    font-size: 2.65rem; }
  footer {
    height: auto; }
    footer .footer-container {
      flex-direction: column; }
      footer .footer-container .footer-left {
        margin-bottom: 1.5rem; } }
