.about-me {
    height: 525px;
    border: 1px solid red;
    padding: 2.5rem;

    .about-me-container {
        max-width: 1140px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;

        .about-me-left {
            padding: 1rem;
            h1 {
                font-size: 56px;
                color: $primary-color;
            }
            p {
                font-size: 24px;
                line-height: 1.75;
            }
        }
        .about-me-right{
            .img {
                border: 1px solid red;
                width: 550px;
                height: 400px;

                img {
                    width: 100%;
                }
            }
        }
    }
}