nav {
    // height: 172px;

    .nav-container {
        height: 172px;
        // padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1140px;
        margin: 0 auto;

        .nav-left {
            padding: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;

            #toggle {
                text-decoration: none;
                color: black;
                transition: .3s;
                border-bottom: 2px solid transparent;
                font-size: 1.5rem;

                &:hover {
                    color: $primary-color;
                    border-bottom: 2px solid $primary-color;
                    padding-bottom: .25rem;
                }

                display: none;
            }

            .responsive {
                display: none;
            }
            ul {
                display: flex;
                li {
                    margin: 0 1rem;
                    font-size: 22px;

                    a {
                        text-decoration: none;
                        color: black;
                        transition: .3s;
                        border-bottom: 2px solid transparent;

                        &:hover {
                            color: $primary-color;
                            border-bottom: 2px solid $primary-color;
                            padding-bottom: .25rem;
                        }
                    }

                    // :hover {
                    //     color: $primary-color;
                    //     border-bottom: 70px;
                    // }
                    // &:first-child {
                    //     display: none;
                    // }
                }
            }
        }
        .nav-right {
            .img {
                width: 115px;
                height: 115px;
                border-radius: 50%;
                overflow: hidden;

                img {
                    width: 100%;
                }
            }
        }
    }
}