@media screen and (max-width: 700px) {
    nav {
        // height: auto;
        .nav-container {
            height: auto;
            flex-direction: column;

            .nav-left {
                #toggle {
                    // text-decoration: none;
                    // color: black;
                    // transition: .3s;
                    border-bottom: 0;
                    // font-size: 1.5rem;
    
                    &:hover {
                        color: black;
                        border-bottom: 0;
                        padding-bottom: 0;
                    }
    
                    display: none;
                }
                flex-direction: column;
                ul {
                    padding: 1rem;
                    flex-direction: column;
                    line-height: 1.5;
                    display: none;

                    li {
                        a {
                            border-bottom: 0px;
                            &:hover {
                                color: black !important;
                                border-bottom: 0px;
                                padding-bottom: 0rem;
                            }
                        }
                    }
                }

                a {
                    display: inline-block !important;
                }
                // li:not(:first-child){
                //     display: none;
                // }
                // li:first-child {
                //     display: inline-block !important;
                // }

                // .responsive li {
                //     transition: .3s;
                //     display: inline-block;
                // }
            }

            .nav-right {
                margin: 1rem 0;
            }
        }
    }

    .welcome {
        height: auto;
        .welcome-container {
            flex-direction: column;
            // height: auto;

            .wc-left {
                width: auto;
                .img {
                    text-align: center;
                    img {
                        width: 75%;
                    }
                }
            }
            .wc-right {
                text-align: center;
                width: 100%;
                h3 {
                    font-size: 22px;
                }
                h3:nth-child(1){
                    margin-top: 2rem;
                }
                h1 {
                    font-size: 42px;
                }
            }
        }
    }

    .about-me {
        .about-me-container {
            .about-me-right {
                // width: 75%;
                .img {
                    width: 75%;
                    img {
                        // width: 100% !important;
                        // border: 1px solid red;
                    }
                }
            }
        }
    }

    .skills {
        .skills-container {
            grid-template-columns: 1fr;
            .skills-left {
                .skill-left-container {
                    border-radius: 1.5rem;
                }
            }
            // .skills-right {
            //     .sk-right-1 {
            //         border-radius: 1.5rem;
            //     }
            //     .sk-right-2 {
            //         border-radius: 1.5rem;
            //     }
            // }
        }
    }

    .history {
        height: auto;
        .history-container {
            padding: 2rem;
            .history-card-all {
                grid-template-rows: repeat(3,1fr);
                grid-template-columns: 1fr;
            }
        }
    }

    footer {
        .footer-container {
            .footer-right {
                ul {
                    font-size: 22px;
                    // border: 1px solid red;
                }
            }
        }
    }
}