@media screen and (max-width: 700px) {
    nav {
        // height: auto;
        .nav-container {
            height: auto;
            flex-direction: column;

            .nav-left {
                ul {
                    padding: 1rem;
                    flex-direction: column;
                    line-height: 1.5;
                }
            }
            .nav-right {
                margin: 1rem 0;
            }
        }
    }

    .welcome {
        height: auto;
        .welcome-container {
            flex-direction: column;
            // height: auto;

            .wc-left {
                width: auto;
                .img {
                    text-align: center;
                    img {
                        width: 75%;
                    }
                }
            }
            .wc-right {
                text-align: center;
                width: 100%;
                h3 {
                    font-size: 22px;
                }
                h3:nth-child(1){
                    margin-top: 2rem;
                }
                h1 {
                    font-size: 42px;
                }
            }
        }
    }

    // .about-me {
    //     .about-me-container {
    //         .about-me-right {

    //         }
    //     }
    // }

    .skills {
        .skills-container {
            grid-template-columns: 1fr;
        }
    }

    .history {
        height: auto;
        .history-container {
            padding: 2rem;
            .history-card-all {
                grid-template-rows: repeat(3,1fr);
                grid-template-columns: 1fr;
            }
        }
    }

    footer {
        .footer-container {
            .footer-right {
                ul {
                    font-size: 22px;
                }
            }
        }
    }
}